alembic==0.9.1
coverage==4.3.4
coveralls==1.1
decorator==4.0.11
Flask==0.12
Flask-Bootstrap==3.3.7.1
Flask-HTTPAuth==3.2.2
Flask-Login==0.4.0
Flask-Migrate==2.0.3
Flask-Script==2.0.5
Flask-SQLAlchemy==2.2
Flask-WTF==0.14.2
itsdangerous==0.24
Jinja2==2.9.5
Mako==1.0.6
MarkupSafe==1.0
python-env==1.0.0
six==1.10.0
SQLAlchemy==1.1.6
validators==0.11.2
Werkzeug==0.12
WTForms==2.1
gunicorn==19.7.1
psycopg2==2.7.1
Flask-Mail==0.9.1
