<!DOCTYPE html>
<html>
{% include "header.html" %}
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    {% include "nav.html" %}
    {% include "left_aside.html" %}
    {% include "main_content.html" %}
    {% include "footer.html" %}
      <!-- Control Sidebar -->
    {% include "right_aside.html" %}
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
    {% include "plugins.html" %}
<script>
    (function()
    {
      if( window.localStorage )
      {
        if( !localStorage.getItem( 'firstLoad' ) ) {
          localStorage[ 'firstLoad' ] = true;
          window.location.reload();
        } else
          localStorage.removeItem( 'firstLoad' );
      }
    })();

</script>
</body>
</html>
